
body {
  font-family: italic 20px Serif;
}
.CardHeader {
  background-color:palevioletred;
  color: white;
  justify-content: left;
  padding:10px;
  margin-bottom: 5px;
  border: 1px solid aqua;
  width: auto;
}

.repoDetails {
  display: inline-block;
  background-color: white;
  padding: 15px;
  line-height: 20px;
  border: 1px solid black;
  list-style-type: none;
}

.repoDetails li span {
  font-size: 15px;
  white-space: normal;
}
.firstText {
  display: inline-block;
  margin-right: 5px;
  font-weight: bolder;
  width: 85px;
}
.main-container {
  display: flex;
}
.repoContributors {
  display: inline-block;
  width: 90%;
  background-color: white;
  padding: 15px;
  line-height: 20px;
  border: 1px solid black;
  list-style-type: none;
}

.repo-container {
  width: 100%;
  margin-left: 15px;
}
.contributors-container {
  width: 100%;
}
.avatar {
  margin-bottom: 3px;
  margin-top: 3px;
  width: 65px;
  border-radius: 50%;
}
.contributions-count {
  background-color: cadetblue;
  border: 2px solid rgba(0, 0, 0, 0.17);
  font-weight: bold;
  border-radius: 5px;
  padding: 7px;
  margin: 15px 5px 25px 0;
}
.alert-error {
  width: 72%;
  margin: 2px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
}
@media screen and (max-width: 700px) {
  .repo-container,
  .contributors-container {
    width: 100%;
  }
  .main-container {
    display: block;
  }
}